#app-menu {
  display: flex;
  margin-left: 1.5rem;
}
.app-item {
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0.5rem 0.2rem;
  border-radius: 0.4rem;
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
}
.app-item:hover {
  margin: 0 1.5rem;
  transform: scale(1.5) translateY(1rem);
  border-radius: 0.4rem;
}
.app-item-hover {
  color: transparent;
  position: relative;
  top: 1rem;
  left: 7rem;
  font-size: 1rem;
  word-break: break-word;
  width: 4.4rem;
}

#app-desc {
  padding: 5rem;
  margin-top: 4rem;
}
.app-logo {
  font-size: xxx-large;
  margin: 2rem 0;
}
.app-desc-container {
  display: flex;
  justify-content: space-between;
}
.app-btn {
  background-color: rgba(10, 10, 10, 0.2);
  color: white;
  font-weight: 500;
  padding: 0.5rem 3rem;
  margin: 0.5rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}
.app-options {
  padding: 0.5rem 0.7rem;
}
.app-progress {
  border-radius: 0;
  padding: 0.5rem;
  display: flex;
  width: 10rem;
  justify-content: space-around;
  align-items: center;
}
.app-progress svg {
  font-size: xx-large;
}
