#navbar {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-top: 0.3rem;
}
#navbar > div {
  display: flex;
}

.nav-item {
  list-style: none;
  margin: 0 1rem;
  padding: 1rem 0.5rem;
  color: rgba(242, 245, 247, 0.5);
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.1s;
}
#nav-left .nav-item.active {
  color: #f2f5f7;
  font-weight: 500;
  padding: 1rem;
}
.nav-item:hover {
  color: #f2f5f7;
}

#navbar #nav-right .nav-item {
  padding: 1rem 0;
  color: #f2f5f7;
}
a{
  text-decoration: none;
  color: #f2f5f7;
}
#nav-right .nav-item svg {
  padding: 0.1rem;
  transition: all 0.1s;
}
#nav-right .nav-item > svg:hover {
  color: rgba(105, 105, 105, 0.8);
  background-color: #f2f5f7;
  border-radius: 0.6rem;
  /* outline-style: inset; */
}

.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  position: absolute;
  right: 1rem;
  top: 3.5rem;
  width: 28vw;
  list-style: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.8);
}
.dropdown-menu > li {
  padding: 0.5rem 0;
  color: #f2f5f7;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.dropdown-menu > li > div {
  align-items: center;
  display: flex;
}
.dropdown-menu > li:first-of-type {
  color: rgba(242, 245, 247, 0.5);
}
.dropdown-menu > li.middle-li {
  border-bottom: solid 1px rgba(69, 69, 69, 0.5);
}
.dropdown-menu li svg {
  margin-right: 0.5rem;
}
.dropdown-menu > li > div > span {
  color: rgba(242, 245, 247, 0.5);
  font-size: 0.8rem;
}