.card-container {
  background: black;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 13rem !important;
  height: 13rem;
  width: 13rem;
  color: #f2f5f7;
  font-size: 0.8rem;
  cursor: pointer;
}
.card-body {
  margin: 8.5rem 0rem 0rem 0rem;
  background: black;
  padding: 0.8rem;
}
.card-title {
  margin-bottom: 1rem;
}
.card-info {
  color: white;
  display: flex;
  justify-content: space-between;
}
.user-card-body {
  margin: 1rem 0;
  padding: 0.8rem;
  font-style: italic;
}
.user-pic {
  border-radius: 3rem;
  height: 6rem;
  margin: 1.5rem 3.5rem 0;
}
