#search-page {
  padding: 1rem 5rem;
}
#search-nav {
  padding: 0;
  display: flex;
  width: 50vw;
}
#search-nav li {
  list-style: none;
}
#search-bar {
  display: flex;
  margin: 0.5rem 0;
}
input {
  width: 100%;
}
