@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: gray;
  margin: 0;
  padding: 0;
}

.bright-text {
  color: #f2f5f7;
}
.dull-text {
  color: rgba(242, 245, 247, 0.5);
}
.center-text {
  text-align: center;
}
.hide {
  display: none;
}